<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>График температуры</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>График показаний температуры с датчика</h1>

    <div class="chart-container">
        <img class="chart-image" src="data:image/png;base64,{{ chart_data }}" alt="График температуры">
    </div>

    <script>
    function updateChart() {
        var chartImage = document.querySelector('.chart-image');
        fetch('/chart_update/')
            .then(response => response.text())
            .then(data => {
                let json_data = JSON.parse(data);
                chartImage.src = `data:image/png;base64,${json_data.chart_data}`;
            });
    }

    setInterval(updateChart, 10000);
    </script>

</body>
</html>

